a,p{
    color: white;
}

.fixed_pos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    /* background-color: rgb(255, 111, 0); */
    background: linear-gradient(red,rgb(255, 101, 40));
}

.upper_container{
    width: 100vw;
    height: 25px;
}

.nav_container{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
}

.upper_main{
    justify-content: space-between;
}

.upper_selction{
    display: flex;
    align-items: center;
}

.upper_nobar{
    padding: 3px;
}

.upper_bar{ 
    padding: 3px;
    margin-left: 8px;
    position: relative;
}

.upper_bar::after{
    content: "";
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: absolute;
    left: -5px;
    top: calc( 50% - 8px);
    height: 16px;
}

.lower_container{
    width: 100vw;
    height: 75px;
}

.lower_main{
    align-items: center;

}

.search_bar{
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    display: flex;
}

.search_text{
    width: 90%;
    /* position: relative; */
    padding: 7px 5px;
    margin: 0 10px 0 0;
}

.search_btn{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 101, 40);
}

.cart_aera{
    display: flex;
    justify-content: end;
    width: 20%;
}

.cart_link{
    width: 30px;
    height: 30px;
}

.cart_icon{
    color: white;
    width: inherit;
    height: inherit;
}