<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'img/logo1.png' %}" type="image/x-icon"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% for j in css %}
        {% load static %}
        <link rel="stylesheet" href="{% static j %}">
    {% endfor%}
    <title>{{ title }}</title>
</head>
<body style="background-color: #f5f5f5">
    <div id="main"></div>

    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    {% for i in script %}
        {% load static %}
        <script src="{% static i %}"></script>
    {% endfor%}
</body>
</html>