.intercafe{
    background-color: white;
    width: 80%;
    padding: 20px 30px;
}
.interface_title{
    padding-bottom: 30px ;
    border-bottom: 1px solid black;
}

.input_area{
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
}

.form{
    width: 100%;
}

.form_line{
    display: flex;
    margin-bottom: 10px;
}

.form_title{
    width: 20%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    color: #8b8e94;
}

.form_input{
    width: 60%;
    padding: 1px 15px;
    margin-left: 20px;
    border: 1px solid #9ca3af;
    border-radius: 5px;
}

.form_submit{
    margin-top: 40px;
    display: flex;
}

.form_btn{
    width: 60%;
    padding: 1px 15px;
    margin-left: 20px;
    background-color: rgb(255, 101, 40);
    border-radius: 5px;
    color: white;
}